
.App-logo{
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

@keyframes App-logo-spin{
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.card-columns {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}